<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/App/static/principal.css">
    <title>ToDoox</title>
</head>
<body>
    <header class="encabezado">
        <div id="logo">
            <img src="" alt="">
            <H1><a href="">ToDoox</a></H1>
        </div>
    </header>
    <main class="Informacion">
        <section id="container_information">
            <img src="" alt="">
            <div id="container_data">
                <h2>ToDoox</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo temporibus veniam aliquam inventore! Nihil tenetur exercitationem id aut nemo maiores blanditiis, explicabo doloribus culpa omnis veniam magni, ipsa magnam aperiam?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet minus suscipit dolorem obcaecati numquam hic corporis alias possimus id, quae placeat atque! Similique molestiae earum quos pariatur quasi corrupti cumque!
                </p>
            </div>
            <div id="buttons">
                <button>Iniciar Sesion</button>
                <button>Registrarse</button>
            </div>
        </section>
    </main>
    <footer class="creator">
        <p>
            Facebook: <a href="">Alexander Bastidas</a>
            Github: <a href="">Alex_Code16</a>
        </p>
    </footer>
</body>
</html>