<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>  
    <header class="encabezado">
        {% block header %}
        <div id="logo">
            <img src="" alt="">
            <H1><a href="{{url_for('pagina_principal')}}">ToDoox</a></H1>
        </div>
        {% endblock %}
    </header>
    <main>
        {%block main%}
        {%endblock%}
    </main>
    <footer>
        {% block footer%}
        {%endblock%}
    </footer>
</body>
</html>