<!--TODO: pagina de usuario
+ CREAR ESPACIO DE TAREAS (AGREGAR VARIAS TAREAS A UN SOLO ESPACIO)
+ ELIMINAR TAREAS
+ MODIFICAR TAREAS
+ AGREGAR TAREAS
-->

{% extends 'base.html' %}

<link rel="stylesheet" href="/App/static/css/pagina_usuario.css">

{% block title %}ToDoox{% endblock %}
{%Block header%} 
    <div class="user">
        <spam>
            <ol>
                <li>Perfil</li>
                <li>Salir</li>
            </ol>
        </spam>
    </div>
{%endlock%}
{%block main%}

{% endblock %}